
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Nunito:ital,wght@0,400;0,800;1,300&display=swap');


:root{
  --mainWhite:#F3f3f3;
  --mainLightTan: #D9D8D0;
  --mainTan:#BFBEB0;
  --mainGray:#A4A6A6;
  --mainBlack:#0D0D0D;

}
body{
font-family: 'Alegreya Sans', sans-serif !important;
font-family: 'Nunito', sans-serif !important;
background-color: var(--mainWhite) !important;
color:var(--mainBlack ) !important;
}

.text-title{
  font-family:'Nunito', sans-serif ;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}

.text-dark{
  color: var(--mainBlack);
}
.text-light{
  color:var(--mainTan)
}

/*Navbar*/

.navbar-brand{
  width: 80px;
}
.navbar{
color:var(--mainBlack);
list-style:none;
font-family: 'Alegreya Sans', sans-serif;


}
.nav-item{
  text-align: right !important;
}

