
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Nunito:ital,wght@0,400;0,800;1,300&display=swap');


:root{
  --mainWhite:#F3f3f3;
  --mainLightTan: #eae9e2;
  --mainTan:#BFBEB0;
  --mainGray:#A4A6A6;
  --mainBlack:#0D0D0D;

}
body{
font-family: 'Alegreya Sans', sans-serif !important;
font-family: 'Nunito', sans-serif !important;
background-color: var(--mainLightTan) !important;
color:var(--mainBlack ) !important;
}


.text-title{
  font-family:'Nunito', sans-serif ;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}

.text-dark{
  color: var(--mainBlack);
}
.text-light{
  color:var(--mainTan)
}

/*Navbar*/

.navbar-brand{
  width: 80px;
  border-radius: 50px;
  background-color: var(--mainTan);
}
.navbar{
color:var(--mainBlack);
list-style:none;
font-family: 'Alegreya Sans', sans-serif;
padding:20px;


}

.nav-item{
 float: right !important;
}
.fa-cart-plus{
  float: right !important;

}

.btn {
  display: inline-block;
  background: transparent;

  text-transform: uppercase;
  font-weight: 500;
 
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  color: var(--mainBlack);
  border-radius: 0;
  padding: 10px 5px 10px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 3px solid var(--mainTan);
}


.btn:hover {
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color:white;
  background-position: 99% 50%;
}
div.card{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-color:transparent;
  transition: all 1s linear;
}
.card-footer{
  background: transparent;
  border-top:transparent;
  transition: all 1s linear;
  
}
.card:hover{
  
    border:0.04rem solid rgba(0,0,0,0.2);
    box-shadow:2px 2px 5px 0px rgba(0,0,0,0.2)

}

.card-footer:hover{
  background:rgba(247, 247, 247) ;
}

.img-container{
  position:relative;
  overflow: hidden;
}
.card-img-top:hover{
  transform: scale(1.2);
  transition: all 0.9s linear;

}

.cart-btn{
  position: absolute;
  bottom:0;
  right:0;
  padding:0.2rem 0.4rem;
  background:var(--mainTan);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transition: all 1s linear;
 
}
img.card-img-top{
  padding-top:0;


}



